<div id="<%= dom_id garden %>">
  <p>
    <strong>Name:</strong>
    <%= garden.name %>
  </p>

  <p>
    <strong>City:</strong>
    <%= garden.city %>
  </p>

    <p>
    <strong>Plants:</strong>
    <% garden.plants.each do |plant| %>
    <%=  link_to plant.name, plant_path(plant)%>
    <% end %>
  </p>

</div>
